/* BlogForm.css */
.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* background-color: #fff; */
}

.form-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.input-field {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea.input-field {
  resize: vertical;
  /* Allow vertical resizing for textareas */
}

.file-input {
  display: block;
  margin-bottom: 15px;
  width: 100%;
}

.button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: center;
}

.button:hover {
  background-color: #0056b3;
}

/* Center the form horizontally and add some spacing */
.form-container form {
  text-align: center;
  margin: 0 auto;
  max-width: 80%;
}

/* Style file input */
.file-input[type="file"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

/* Center the form elements */
.input-field,
textarea.input-field,
.file-input,
.button {
  margin: 0 auto;
}

/* Add some additional space between the button and the form elements */
.button {
  margin-top: 20px;
}